<div ng-value="error"></div>

<div class="row">
    <div class="col-md-12" ng-show="!auth.isLoggedIn()">
        <h3><i class="fa fa-user fa-fw"></i> Please <a href="" ng-click="auth.handleLogin()">log in</a>!</h3>
    </div>

    <div class="col-md-12" ng-show="auth.isLoggedIn()">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-user"></i> User Profile</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100" class="img-circle"> </div>

                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                <tr>
                                    <td>Name:</td>
                                    <td>{{user.firstName}} {{user.lastName}}</td>
                                </tr>
                                <tr>
                                    <td>Email Address:</td>
                                    <td>{{user.emailAddress}}</td>
                                </tr>
                                <tr>
                                    <td>Institution:</td>
                                    <td>{{user.institution}}</td>
                                </tr>
                                </tbody>
                            </table>

                            <a class="btn btn-primary" ng-click="queryUserSpectra()">My Submitted Spectra</a>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                    <span class="pull-right">
                        <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                    </span>
                </div>

            </div>
        </div>
    </div>
</div>