
<div class="row">
    <div class="col-md-12">
        <h3>Commonly used terms and abbreviations
        </h3>

        ALEX  	automated liner exchange, produced by Gerstel corporation.
        CIS	cold injection system, produced by Gerstel corporation
        GC 	gas chromatography
        TOF  	time of flight mass spectrometer
        MS	mass spectrometry. After hard ionization by electron ionization, one electron gets abstracted
        from the intact molecules which hence become positively charged. The standardized -70 eV ionization voltage is so high that molecules fragment into multiple product ions, which may also form rearrangements among each other. Fragments are then analyzed by time of flight mass spectrometry which is made here by the vendor Leco corporation not to obtain accurate mass information at high resolution but instead to obtain mass spectra at very high sensitivity and speed.
        QC	quality control
        IS	also istd, internal standards
        FAME	fatty acid methyl esters
        v/v	volumetric ratio
        InChI	International Chemical Identifier key. Denotes the exact stereochemical and atomic description
        of chemicals and used as universal identifier in chemical databases.
        KEGG	Kyoto Encyclopedia of Genes and Genomes
        PubChem  a public database of chemicals and chemical information.
        rt	retention time (seconds)
        RI	also ret.index, retention index, a conversion of absolute retention times to relative retention
        times based on a set of pre-defined internal standards. Classically, Kovats retention indices are used based on hydrocarbons. We use Fiehn retention indices based on FAME istd because FAME mass spectra are much easier to correctly annotate in automatic assays.
        mz	also m/z, or mass-to-charge ratio. In metabolomics, ions are almost exclusively detected as
        singly charged species.
        s/n	signal to noise ratios
        IUPAC	International Union of Pure and Applied Chemistry
        NIST	National Institute of Standards and Technology
        PCA	Principal Component Analysis

    </div>
</div>
