<div ng-value="error"></div>

<div class="row">
    <div class="col-md-12">
        <h3><i class="fa fa-pencil-square-o"></i> Mass Spectra Cleaner &amp; Uploader</h3>

        <div class="h5">
            Upload an MSP file and dynamically modify the mass spectra and metadata
        </div>
        <br />

        <div ng-if="spectraLoaded == 0" class="panel panel-default">
            <div class="panel-heading"><strong>Select a file clean</strong></div>
            <div class="panel-body">
                <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-primary btn-file">
                            Browse&hellip; <input type="file" ng-file-select="parseFile($files)" />
                        </span>
                    </span>

                    <input id="spectrumFile" type="text" class="form-control" ng-model="filenames" readonly />
                </div>

                <span class="help-block">Supports MSP mass spectral library files</span>
            </div>
        </div>

        <div ng-if="spectraLoaded == 1" class="panel panel-default">
            <div class="panel-heading"><strong>Loading and parsing data</strong></div>
            <div class="panel-body text-center"><span class="spinner"><i class="fa fa-refresh fa-spin"></i> Loading...</span></div>
        </div>

        <div ng-if="spectraLoaded == 2 && spectra.length == 0" class="panel panel-default">
            <div class="panel-heading"><strong>Loading and parsing data</strong></div>
            <div class="panel-body text-center">No valid mass spectra found in </div>
        </div>

        <div ng-if="spectraLoaded == 2 && spectra.length > 0" class="panel panel-default">
            <div class="panel-heading">
                <nav>
                    <ul class="pager" style="margin: 0px !important;">
                        <li class="previous"><a href="" ng-click="previousSpectrum()">Previous</a></li>
                        <li><strong>Spectrum {{spectraIndex + 1}} / {{spectra.length}}</strong></li>
                        <li class="next"><a href="" ng-click="nextSpectrum()">Next</a></li>
                    </ul>
                </nav>
            </div>

            <div class="panel-body">
                <div class="masspec-modal">
                    <mass-spec ng-model="currentSpectrum.ions"></mass-spec>
                </div>
                <br />

                <tabset>
                    <tab heading="Trim Spectrum">
                        <p class="lead">Removes low intensity ions from a mass spectrum.</p>

                        <div style="margin-top: 10px;">
                            <div>
                                <div class="col-sm-3 form-group"><strong>Top <code>n</code> Ions</strong></div>
                                <div class="col-sm-9 form-group">
                                    <input type="number"
                                           ng-model="ionCuts.nIons"
                                           placeholder="Number of ions"
                                           class="form-control" />
                                    <span class="help-block">Keeps at most the <code>n</code> ions with the highest intensity</span>
                                </div>
                            </div>

                            <div>
                                <div class="col-sm-3 form-group"><strong>Base Peak Cut</strong></div>
                                <div class="col-sm-9 form-group">
                                    <input type="number"
                                           ng-model="ionCuts.basePeak"
                                           placeholder="Percentage of base peak"
                                           class="form-control" />

                                    <span class="help-block">
                                        Removes all ions below the given percentage of the base peak intensity (where
                                        the value <code>0</code> will retain all ions while the value <code>100</code>
                                        will retain only the base peak.
                                    </span>
                                </div>
                            </div>

                            <div>
                                <div class="col-sm-3 form-group"><strong>Absolute Abundance Cut</strong></div>
                                <div class="col-sm-9 form-group">
                                    <input type="number"
                                           ng-model="ionCuts.absAbundance"
                                           placeholder="Absolute abundance"
                                           class="form-control" />
                                    <span class="help-block">Removes all ions below the given absolute abundance</span>
                                </div>
                            </div>

                            <div class="text-center">
                                <a class="btn btn-warning" ng-click="resetIonCuts()">Reset Spectrum</a>
                                <a class="btn btn-primary" ng-click="performIonCuts()">Trim Spectrum</a>
                                <a class="btn btn-primary" ng-click="performAllIonCuts()">Trim <strong>All</strong> Spectra</a>
                            </div>
                        </div>
                    </tab>

                    <tab heading="Ion Table">
                        <div style="height: 400px; overflow: auto; margin-top: 10px;" ng-if="showIonTable">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th><a href="" ng-click="sortIonTable('ion')">Ion</a></th>
                                    <th><a href="" ng-click="sortIonTable('intensity')">Intensity</a></th>
                                    <th><a href="" ng-click="sortIonTable('annotation')">Annotation</a></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="ion in currentSpectrum.ions | orderBy:ionTableSort:ionTableSortReverse">
                                    <td><input type="checkbox" ng-model="ion.selected" /></td>
                                    <td>{{ion.ion | number : 4}}</td>
                                    <td>{{ion.intensity | number : 4}}</td>
                                    <td>
                                        <input type="text"
                                               ng-model="ion.annotation"
                                               placeholder="Annotation"
                                               class="form-control" />
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div style="margin-top: 10px;" ng-if="!showIonTable">
                            <p class="lead">This mass spectrum is very large!</p>
                            <p>It contains {{currentSpectrum.ions.length}} individual ions. Loading them all automatically can slow down your browser, but you can manually build the ion table:</p>
                            <br />
                            <p class="text-center"><a class="btn btn-primary" ng-click="$parent.showIonTable = true">Build Ion Table</a></p>
                        </div>
                    </tab>

                    <tab heading="Identifiers">
                        <div style="height: 400px; overflow: auto; margin-top: 10px;">
                            <div>
                                <div class="col-sm-3 form-group"><strong>Names</strong></div>
                                <div class="col-sm-9 form-group">
                                    <input type="text"
                                           ng-repeat="name in currentSpectrum.names"
                                           ng-model="name"
                                           placeholder="Name"
                                           class="form-control" />
                                    <button type="button" class="btn btn-default btn-xs" ng-click="addName()">+</button>
                                </div>
                            </div>

                            <div>
                                <div class="col-sm-3 form-group"><strong>InChIKey</strong></div>
                                <div class="col-sm-9 form-group">
                                    <input type="text"
                                           ng-model="currentSpectrum.inchiKey"
                                           placeholder="InChIKey"
                                           class="form-control" />
                                </div>
                            </div>

                            <div>
                                <div class="col-sm-3 form-group"><strong>InChI Code</strong></div>
                                <div class="col-sm-9 form-group">
                                    <input type="text"
                                           ng-model="currentSpectrum.inchi"
                                           placeholder="InChI Code"
                                           class="form-control" />
                                </div>
                            </div>

                            <div>
                                <div class="col-sm-3 form-group"><strong>SMILES Code</strong></div>
                                <div class="col-sm-9 form-group">
                                    <input type="text"
                                           ng-model="currentSpectrum.smiles"
                                           placeholder="SMILES Code"
                                           class="form-control" />
                                </div>
                            </div>
                        </div>
                    </tab>

                    <tab heading="Edit Metadata">
                        <div id="metadata_editor" style="height: 400px; overflow: auto; margin-top: 10px;">
                            <div ng-repeat="meta in currentSpectrum.meta">
                                <div class="col-sm-5 form-group" ng-class="{'has-error': !meta.name && meta.name != ''}">
                                    <input type="text"
                                           ng-model="meta.name"
                                           placeholder="Metadata Name"
                                           class="form-control" />
                                </div>
                                <div class="col-sm-5 form-group">
                                    <input type="text"
                                           ng-model="meta.value"
                                           ng-disabled="!meta.name || meta.name == ''"
                                           placeholder="Metadata Value"
                                           class="form-control" />
                                </div>
                                <div class="col-sm-2 form-group">
                                    <button ng-click="removeMetadataField($index)" class="btn btn-default"
                                            tooltip="Remove this metadata value"><i class="fa fa-minus-square"></i></button>
                                    <button ng-click="applyMetadataToAll($index)" class="btn btn-default"
                                            tooltip="Copy this metadata value to all spectra"><i class="fa fa-files-o"></i></button>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <button type="button" class="btn btn-default btn-xs" ng-click="addMetadataField()">+</button>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>

            <div class="panel-footer">
                <nav>
                    <ul class="pager" style="margin: 0px !important;">
                        <li class="previous"><a href="" ng-click="previousSpectrum()">Previous</a></li>
                        <li><strong>Spectrum {{spectraIndex + 1}} / {{spectra.length}}</strong></li>
                        <li class="next"><a href="" ng-click="nextSpectrum()">Next</a></li>
                    </ul>
                </nav>

                <hr />

                <div class="text-center">
                    <a class="btn btn-warning" ng-click="resetFile()">Restart</a>
                    <a class="btn btn-primary" ng-click="exportFile()">Export</a>
                </div>
            </div>
        </div>
    </div>
</div>