<span>
  {{value.value }}

  <span ng-if="value.suspect == false">
      <span ng-if="value.unit != 'null'">{{value.unit}}</span>
  </span>
  <span ng-if="value.suspect == true" title="{{value.reasonForSuspicion}}">
      <span ng-if="value.unit != 'null'">{{value.unit}}</span>
    <i class='fa fa-exclamation-triangle'></i>
  </span>

</span>
