$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

//our used theme
@import 'theme';

/**
 *5px top margin
 */
.top5 {
  margin-top: 5px;
}

/**
 *7px top margin
 */
.top7 {
  margin-top: 7px;
}

/**
 *10px top margin
 */

.top10 {
  margin-top: 10px;
}

/**
 *15px top margin
 */

.top15 {
  margin-top: 15px;
}

/**
 *17px top margin
 */

.top17 {
  margin-top: 17px;
}

/**
 * 30px top margin
 */
.top30 {
  margin-top: 30px;
}


/**
 *5px top margin
 */
.left5 {
  margin-left: 5px;
}

/**
 *7px top margin
 */
.left7 {
  margin-left: 7px;
}

/**
 *10px top margin
 */

.left10 {
  margin-left: 10px;
}

/**
 *15px top margin
 */

.left15 {
  margin-left: 15px;
}

/**
 *17px top margin
 */

.left17 {
  margin-left: 17px;
}

/**
 * 30px top margin
 */
.left30 {
  margin-left: 30px;
}

/**
 * affix management
 */
.affix-top, .affix {
  position: static;
}

/**
 * configure our affix properties
 */
@media (min-width: 992px) {

  #filterBar.affix-top {
    position: static;
  }

  #filterBar.affix {
    position: fixed;
    top: 100px;
  }

}

/**
 * override the web component and disable the border
 */
canvas.ChemDoodleWebComponent {
  border: none;
}


/**
 *
 */
.tab-pane {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: 0px 0px 5px 5px;
  padding: 10px;
}

.nav-tabs {
  margin-bottom: 0;
}


/* Mass Spec */
div.chart {
  box-sizing: border-box;
  width: 850px;
  height: 450px;
  padding: 20px 15px 15px 15px;
  margin: 15px auto 30px auto;
  border: 1px solid #ddd;
  background: #fff;
  //    background: linear-gradient(#f6f6f6 0, #fff 50px);
  //    background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
  //    background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
  //    background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
  //    background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
  //    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  -o-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.masspec-modal {
  margin: auto;
  display: block;
  width: 100%;
  height: 400px;
  padding-left: 25px;
  padding-right: 25px;
}

.masspec-mini {
  display: block;
  width: 100px;
  height: 100px;
}

.masspec .button {
  position: absolute;
  cursor: pointer;
}

.masspec div.button {
  font-size: smaller;
  color: #999;
  background-color: #eee;
  padding: 2px;
}

/* Spectrum modal dialog */
.compound-properties {
  width: 100%;
}

.compound-properties dt {
  width: 20%;
}

.compound-properties dd {
  width: 80%;
}

/* Library upload button */

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

/**
 * Allow for overflows from jquery accordion div bodies
 */
.panel-collapse.collapse.in {
  overflow: visible;
}
