<div ng-value="error"></div>

<div class="row">
    <div class="col-md-12">
       <h3>What is happening right now

           <small>This is a liveview of submissions and other currently generated content</small>
       </h3>

        <div gw-news></div>
    </div>
</div>
