<div ng-value="error"></div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover" style="table-layout: fixed;" infinite-scroll="loadMoreCompounds()">
            <thead>
            <tr>
                <th>Name</th>
                <th>InChIKey</th>
                <th>InChI Code</th>
                <th class="text-center">Structure</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="compound in compounds" ng-click="viewSpectra(compound.inchiKey)">
                <td>
                    <ul>
                        <li ng-repeat="name in compound.names">{{name.name}}</li>
                    </ul>
                </td>
                <td><code>{{compound.inchiKey}}</code></td>
                <td><code>{{compound.inchicode}}</code></td>
                <td class="text-center">
                    <div chemical-sketcher readonly="true" width="100" height="100" id="chemSketch_{{compound.id}}"
                         ng-model="compound"></div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="text-center" ng-show="loadingMore"><span class="spinner"><i class="fa fa-refresh fa-spin"></i> Loading...</span></div>
        <div class="text-center" ng-show="compounds.length == 0 && !loadingMore"><h4>No results found!</h4></div>
    </div>
</div>
