<form role="form" name="querySpectraDialog" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancelDialog()" aria-hidden="true">×</button>
        <h3 class="modal-title">Query Spectra</h3>

        <div><p>
            Below are all options availble to query in the mass spectral database. You may fill in as many or as few fields as
            desired.
            Note that the query will search for spectra that match <b>all</b> of the properties you specify.
        </p></div>
    </div>

    <div class="modal-body">
        <accordion close-others="false">
            <accordion-group is-open="queryAccordion.name">
                <accordion-heading>
                    <div>Query by Name</div>
                </accordion-heading>

                <div class="form-group">
                    <label class="control-label" for="nameFilter">Partial filtering by compound name:</label>
                    <input id="nameFilter"
                           name="nameFilter"
                           ng-model="query.nameFilter"
                           placeholder="Name"
                           class="form-control"/>
                </div>
            </accordion-group>


            <accordion-group is-open="queryAccordion.inchikey">
                <accordion-heading>
                    <div>Query by InChIKey</div>
                </accordion-heading>

                <div class="form-group">
                    <label class="control-label" for="inchiFilter">Partial filtering by biological or compound
                        InChIKey:</label>
                    <input id="inchiFilter"
                           name="inchiFilter"
                           ng-model="query.inchiFilter"
                           placeholder="InChIKey"
                           ng-pattern="/^([A-Z,0-9,\-]+)+$/"
                           class="form-control"/>
                </div>
            </accordion-group>


            <accordion-group is-open="queryAccordion.accurateMass">
                <accordion-heading>
                    <div>Query by Accurate Mass</div>
                </accordion-heading>

                <div class="form-group">
                    <label class="control-label col-sm-4" for="accurateMass">Mass:</label>

                    <div class="col-sm-8">
                        <input id="accurateMass"
                               name="accurateMass"
                               ng-model="query['Mz_exact']"
                               placeholder="Accurate Mass"
                               class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4" for="accurateMassTolerance">Tolerance (&pm;):</label>

                    <div class="col-sm-8">
                        <input id="accurateMassTolerance"
                               name="accurateMassTolerance"
                               ng-model="query['Mz_exact_tolerance']"
                               placeholder="Accurate Mass Tolerance"
                               class="form-control"/>
                    </div>
                </div>
            </accordion-group>


            <accordion-group is-open="queryAccordion.metadata">
                <accordion-heading>
                    <div>Query by Metadata</div>
                </accordion-heading>
                <label>Select an existing metadata type and then input a value to query</label>

                <div gw-meta-query-input query="metadataQuery" editable="false"></div>
            </accordion-group>


            <accordion-group is-open="queryAccordion.tags">
                <accordion-heading>
                    <div>Query by Tags</div>
                </accordion-heading>

                <div gw-tag-display selection="selectedTags"></div>
            </accordion-group>
        </accordion>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="submitQuery()">Submit query to system</button>
        <button class="btn btn-warning" ng-click="cancelDialog()">Close</button>
    </div>
</form>
