<form role="form" name="uploadWizard" novalidate>
    <div class="modal-header">
        <h4 class="modal-title">Upload spectra to the system</h4>
        <h5>Please fill out all the properties to define a new spectra. This wizard should guide you.</h5>
    </div>

    <div class="modal-body">
        <div class="alert alert-danger .alert-dismissible " role="alert" ng-show="errors.length">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span>Error:</span>
            <ul>
                <li ng-repeat="error in errors">{{error}}</li>
            </ul>
        </div>

        <div ng-switch="getCurrentStep()" ng-animate="'slide'" class="slide-frame">

            <!-- here we define the spectra -->
            <div ng-switch-when="spectra">
                <fieldset>
                    <div class="form-group">
                        <h4>Select mass spectra to upload</h4>

                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-primary btn-file">
                                    Browse&hellip; <input type="file" multiple ng-file-select="loadSpectraFiles($files)" />
                                </span>
                            </span>
                            <input id="spectrumFile" type="text" class="form-control" ng-model="filenames" readonly />
                        </div>

                        <span class="help-block">
                            Supports MSP, MGF, MassBank record, and MoNA JSON formats
                        </span>
                    </div>
                </fieldset>
            </div>

            <!-- loading screen -->
            <div ng-switch-when="loading">
                <div class="text-center">
                    <span class="spinner"><i class="fa fa-refresh fa-spin"></i> {{loadingStatus}}</span>
                </div>
            </div>

            <!-- compound screen -->

            <div ng-switch-when="compound">
                <fieldset>
                    <div class="form-group" ng-class="{'has-error' : uploadWizard.inchi.$invalid && !uploadWizard.inchi.$pristine}">
                        <label for="inchi">InChI:</label>
                        <input class="form-control"
                               type="text"
                               ng-model="spectrum.inchi"
                               name="inchi"
                               id="inchi"
                               ng-required
                               ng-pattern="/^((InChI=)?[^J][0-9BCOHNSOPrIFla+\-\(\)\\\/,pqbtmsih]{6,})$/ig">

                        <p>The biological InChI Key is the key, which reflects the actual substance, prior to
                            modifications due to adducts, dehydration or derivatisation. You will be able to define
                            the actual chemical InChI Key in the next step</p>

                        <p ng-show="bio.biologicalInchi.$invalid && !bio.biologicalInchi.$pristine"
                           class="help-block">
                            please make sure that the value is a valid InChI Key. It needs to look something like
                            'RYGMFSIKBFXOCR-UHFFFAOYSA-N'
                        </p>

                    </div>

                    <div class="form-group">
                        <label for="inchikey">InChI Key:</label>
                        <input class="form-control"
                               type="text"
                               ng-model="spectrum.inchikey"
                               name="inchikey"
                               id="inchikey"
                               ng-pattern="/^([A-Z]{14}-[A-Z]{10}-[A-Z,0-9])$/" fl-no-submit/>

                    </div>

                    <div class="form-group"
                         ng-class="{'has-error' : uploadWizard.biologicalInChIName.$invalid && !uploadWizard.biologicalInChIName.$pristine}">
                        <label for="biologicalInChIName">Please provide us with a name for this chemical</label>


                        <input
                                id="biologicalInChIName"
                                name="biologicalInChIName"
                                placeholder="Search for a Name for this InChI Key"
                                required="true"
                                class="form-control form-control-small"
                                typeahead="name.name for name in possibleBiologicalNames | limitTo:8"
                                type="text"
                                ng-model="spectrum.biologicalCompound.names"/>

                        <p ng-show="uploadWizard.biologicalInChIName.$invalid && !uploadWizard.biologicalInChIName.$pristine"
                           class="help-block">
                            please make sure you provide a valid name
                        </p>

                            <ul class="list-inline" ng-repeat="name in spectrum.names">
                                <li>{{name}}</li>
                            </ul>
                    </div>
<!--
                    <div chemical-sketcher id="bioLogicalInChiSketcher" ng-model="spectra.biologicalCompound.inchiKey"></div>
-->
                </fieldset>
            </div>
            
            <!-- defines our metadata -->
            <div ng-switch-when="metadata">
                <fieldset>
                    <label>Select or define a metadata type and then input a value to query</label>
                    <label ng-if="batchUpload" class="text-warning">Note: These metadata values will be applied to ALL spectra to be uploaded.</label>
                    <label ng-if="!batchUpload" class="text-muted">Note: The metadata values extracted from the spectrum file have already been populated</label>
                    <p class="top17"></p>

                    <div gw-meta-query-input query="spectrum.meta" editable="true"></div>
                </fieldset>
            </div>

            <!-- adds tags to the spectrum -->
            <div ng-switch-when="tags">
                <label>Please add any 'tags' here, you consider useful for other people.</label><br />
                <label>Tags provide an easy way to find and label spectra.</label>
                <p class="top17"></p>

                <tags-input ng-model="spectrum.tags"
                            min-length="3"
                            replace-spaces-with-dashes="false">

                    <auto-complete source="loadTags($query)"
                                   min-length="1"
                                   load-on-empty="true"
                                   load-on-down-arrow="true"
                                   load-on-focus="true"></auto-complete>
                </tags-input>
            </div>

            <!-- allows us to provide some comments to this spectrum -->
            <div ng-switch-when="comments">
                <fieldset>
                    <div class="form-group"
                         ng-class="{'has-error' : uploadWizard.comment.$invalid && !uploadWizard.comment.$pristine}">
                        <label for="comment">Please add any comments to the spectra that you consider of importance.</label>

                        <textarea ng-model="spectrum.comments" id="comment" class="form-control" rows="6"></textarea>
                    </div>
                </fieldset>
            </div>

            <div ng-switch-when="summary">
                <label>Chemical Properties</label>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-if="spectrum.inchi">
                        <td>InChI</td>
                        <td>{{spectrum.inchi}}</td>
                    </tr>
                    <tr ng-if="spectrum.inchikey">
                        <td>InChI</td>
                        <td>{{spectrum.inchikey}}</td>
                    </tr>
                    <tr>
                        <td>Names</td>
                        <td>
                            <ul><li ng-repeat="name in spectrum.names">{{name}}</li></ul>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <label>Metadata</label>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="meta in spectrum.meta">
                        <td>{{meta.name}}</td>
                        <td>{{meta.value}}</td>
                    </tr>
                    </tbody>
                </table>

                <label>Comments</label>
                <div>{{spectrum.comments}}</div>

            </div>
        </div>

    </div>

    <!--<div><pre>{{spectrum | json}}</pre></div>-->

    <div class="modal-footer">
        <a class="btn" ng-click="handlePrevious()" ng-show="!isFirstStep()">Back</a>
        <a class="btn btn-primary" ng-click="handleNext(dismiss)" ng-disabled="!isStepComplete(uploadWizard)">{{getNextLabel()}}</a>
    </div>
</form>