<form name="submitterForm" class="form-horizontal" novalidate role="form">

    <p ng-show="formErrors" class="help-block bg-danger">
        {{formErrors}}
    </p>

    <div class="form-group"
         ng-class="{ 'has-error' : submitterForm.firstName.$invalid && !submitterForm.firstName.$pristine}">

        <label for="firstName" class="control-label col-sm-3">
            First Name
        </label>

        <div class="col-sm-9">
            <input type="text" class="form-control" id="firstName" name="firstName"
                   placeholder="please enter your first name"
                   ng-model="newSubmitter.firstName" required/>

            <p ng-show="submitterForm.firstName.$invalid && !submitterForm.firstName.$pristine" class="help-block">
                Your first name is required.</p>

        </div>
    </div>

    <div class="form-group"
         ng-class="{ 'has-error' : submitterForm.lastName.$invalid && !submitterForm.lastName.$pristine}">
        <label for="lastName" class="control-label col-sm-3">Last Name</label>

        <div class="col-sm-9">
            <input type="text" class="form-control" id="lastName" name="lastName"
                   placeholder="please enter your last name"
                   ng-model="newSubmitter.lastName" required/>

            <p ng-show="submitterForm.lastName.$invalid && !submitterForm.lastName.$pristine" class="help-block">
                Your last name is required.</p>

        </div>
    </div>

    <div class="form-group"
         ng-class="{ 'has-error' : submitterForm.institution.$invalid && !submitterForm.institution.$pristine}">
        <label for="institution" class="control-label col-sm-3">Institution</label>

        <div class="col-sm-9">

            <input type="institution" class="form-control" placeholder="please enter your institution" id="institution"
                   name="institution"
                   ng-model="newSubmitter.institution"/>

            <p ng-show="submitterForm.institution.$invalid && !submitterForm.institution.$pristine" class="help-block">Enter a
                valid institution.</p>

        </div>
    </div>

    <div class="form-group"
         ng-class="{ 'has-error' : submitterForm.email.$invalid && !submitterForm.email.$pristine}">
        <label for="email" class="control-label col-sm-3">Email
            Address</label>

        <div class="col-sm-9">

            <input type="email" class="form-control" placeholder="please enter your email address" id="email"
                   name="email"
                   ng-model="newSubmitter.emailAddress" required/>

            <p ng-show="submitterForm.email.$invalid && !submitterForm.email.$pristine" class="help-block">Enter a
                valid email.</p>

        </div>
    </div>

    <div class="form-group"
         ng-class="{ 'has-error' : submitterForm.password.$invalid && !submitterForm.password.$pristine}">
        <label for="password" class="control-label col-sm-3">Password</label>

        <div class="col-sm-9">
            <input  class="form-control" placeholder="please enter your password" id="password"
                   name="password"
                   type="password"
                   ng-model="newSubmitter.password" required/>

            <p ng-show="submitterForm.password.$invalid && !submitterForm.password.$pristine" class="help-block">
                Your last name is required.</p>

        </div>
    </div>

    <input type="hidden" ng-model="newSubmmiter.id" value="{{newSubmitter.id}}"/>
</form>