<!doctype html>
<html ng-app="app">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <style type="text/css">
            html { height: 100%; }
            chart { display:none; width: 600px; height: 400px }
        </style>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    </head>

    <body ng-controller="PlotController">
        <chart ng-model="data"></chart>

        <!-- Javascript -->
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/flot/jquery.flot.js"></script>
        <script src="bower_components/flot/jquery.flot.resize.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

        <script type="text/javascript">
            //<![CDATA[

            angular.module('app', ['ui.bootstrap'])
                .controller("PlotController", function ($scope) {
                    $scope.data = [[[0, 1], [1, 500], [2, 2]]];
                })

                // http://stackoverflow.com/a/13104514/406772
                .directive('chart', function() {
                    return {
                        restrict: 'E',
                        link: function(scope, elem, attrs) {
                            var data = scope[attrs.ngModel];
                            $.plot(elem, data, {});
                            elem.show();
                        }
                    };
                });

            //]]>
        </script>
    </body>
</html>