<div ng-value="error"></div>

<div class="row">
    <div class="col-md-9 col-sm-6 col-lg-9">
        <div show-query></div>

        <table class="table table-hover table-striped" style="table-layout: fixed;" infinite-scroll="loadMoreSpectra()">
            <thead>
            <tr>
                <th class="text-center">Name</th>
                <th class="text-right" style="width: 110px">Bio. Structure</th>
                <th class="text-right" style="width: 110px">Chem. Structure</th>

                <th class="text-right" style="width: 200px">Spectrum</th>
                <th class="text-center">Accurate Mass</th>


            </tr>
            </thead>
            <tbody>
            <tr ng-show="spectra.length == 0">
            </tr>
            <tr ng-repeat="spectrum in spectra"
                ng-click="viewSpectrum(spectrum.id, $index)">
                <td>
                    <ul class="list-unstyled">
                        <li ng-repeat="name in spectrum.chemicalCompound.names | limitTo:3">{{name.name}}</li>
                    </ul>
                </td>
                <td>
                    <div class="center-block" chemical-sketcher readonly="true" width="100" height="100"
                         id="bioSketch_{{spectrum.id}}"
                         ng-model="spectrum.biologicalCompound"></div>
                </td>
                <td>
                    <div class="center-block" chemical-sketcher readonly="true" width="100" height="100"
                         id="chemSketch_{{spectrum.id}}"
                         ng-model="spectrum.chemicalCompound"></div>
                </td>
                <td>
                    <div class="masspec-mini">
                        <mass-spec id="massSpec_{{spectrum.id}}" mini ng-model="spectrum.spectrum"></mass-spec>
                    </div>
                    <div>
                        <span score-spectra ng-model="spectrum"></span>
                    </div>
                </td>
                <td>
                    <p class="text-center">{{spectrum.accurateMass}}</p>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="text-center" ng-show="loadingMore">
            <span class="spinner"><i class="fa fa-refresh fa-spin"></i> Loading...</span>
        </div>

        <div class="text-center" ng-show="spectra.length > 0 && !dataAvailable">
            <h4>All results loaded</h4>
        </div>

        <div class="text-center" ng-show="spectra.length == 0 && !dataAvailable">
            <h4>No results found!</h4>
        </div>
    </div>


    <div class="col-md-3 col-sm-6 col-lg-3">
        <div id="filterBar" bs-affix data-offset-top="-80">

            <!-- search bar -->
            <button class="btn btn-primary" ng-click="querySpectraDialog()">
                <i class="fa fa-search fa-fw"></i>Open Query Dialog
            </button>
            <br/><br/>

            <button class="btn btn-primary" ng-click="resetQuery()">
                <i class="fa fa-search fa-fw"></i>Reset Current Query
            </button>
            <br/><br/>

            <div class="top17"></div>
            <!-- filter by tags -->
            <form name="spectraQuery" role="form" class="form-vertical">
                <fieldset>
                    <legend>Refine Results</legend>

                    <div class="form-group" ng-class="{ 'has-error': spectraQuery.newNameFilter.$invalid }">
                        <label class="control-label" for="nameFilter">Filter by Name</label>

                        <input id="nameFilter"
                               name="nameFilter"
                               ng-model="nameFilter"
                               placeholder="Compound Name"
                               class="form-control"
                               ng-keyup="$event.keyCode == 13 ? refineQuery() : null">
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': spectraQuery.inchiFilter.$invalid }">
                        <label class="control-label" for="inchiFilter">Filter by InChI Key</label>

                        <input id="inchiFilter"
                               name="inchiFilter"
                               ng-model="inchiFilter"
                               placeholder="InChIKey"
                               class="form-control"
                               ng-keyup="$event.keyCode == 13 ? refineQuery() : null"
                               ng-pattern="/^[A-Z,0-9,\-]+$/">
                    </div>

                    <div class="form-group">
                        <label for="tags-select" class=" control-label">Filter By Tags</label>
                        <br/>

                        <select id="tags-select"
                                name="tags-select"
                                class="form-control"
                                data-placeholder="Select Tags"
                                ng-model="tagsSelection"
                                ng-options="tag.text for tag in tags"
                                ng-multiple="true"
                                multiple
                                multiselect-dropdown></select>
                    </div>


                    <button class="btn btn-primary" ng-click="refineQuery()">
                        <i class="fa fa-search fa-fw"></i>Refine Query
                    </button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
